body {

}

canvas {
  border: solid 0.1rem black;
  margin-right: 2rem;
}

.results {
  display: flex;
  flex-direction: column;
}

section.container {
  display: flex;
  flex-direction: row;
}

.container__camera {
  color: rgba(255, 0, 0, 0.184);
}

