body {

}

canvas {
  border: solid 0.1rem rgba(218, 215, 215, 0.215);
  margin-right: 2rem;
  width: 40rem;
  height: 20rem;
}

.results {
  display: flex;
  flex-direction: column;
}

section.container {
  display: flex;
  flex-direction: row;
   padding: 0 1rem;
   align-items: center;
   justify-content: space-evenly;
}

.container__camera {
  color: rgba(255, 0, 0, 0.184);
}

.traitement {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-evenly;
 
}

button {
  padding: 1rem;
  margin: 0.5rem 0.2rem ;
}

#video {
  background-color: yellow;
  width: 60rem ;
}

#emitter-video{
  background-color: purple;
}

